@model PANKBANK.Models.GetAppli
@{
    ViewBag.Title = "Add";
}
<form asp-action="Add" asp-controller="Home">

    <div class="form-group">
        <label asp-for="Firstname" class="control-label">Ім'я</label>
        <input type="text" asp-for="Firstname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Lastname" class="control-label">Прізвище</label>
        <input type="text" asp-for="Lastname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Total" class="control-label">Сума</label>
        <input type="number" asp-for="Total" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CredOrDep" class="control-label">Функція</label>
        <input type="text" asp-for="CredOrDep" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Залишити заявку" class="btn btn-default" />
    </div>
</form>