
@{
    ViewData["Title"] = "Home Page";
}

<div>

    <h3 class="text-center">PANKBANK-банк заснований в далекону 2021р році спеціально для людей які не довіряють звичайним банкам</h3>
    <div class="container mt-3">
        <p> Політика банку:
        <P class="text-left"> Банк пеобудований за простою схемою кредити видаються на рін під річні, 
            депозити побудовані також за зрозумілою схемою, вони також
            приймаються на один рік
    </div>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Add">Залишити заявку</a>
    <div class="container">
        Адреса:м.Львів
        <p>Контактні данні:
        Номер телефон :+380969696950
    </div>
</div>

